@layer reset, tokens, foundation, layout, components, app;

@import "@hokulea/core/style.css";

body {
  padding-bottom: var(--s0);
}

:target {
  scroll-margin-block: calc(70px + 2ex);
}

:root {
  --typography-prose-family: "Inter Variable", system-ui, sans-serif;
  --typography-prose-feature-settings: "case" 1, "ss03" 1, "cv05" 1, "cv07", "kern" 1;
  --typography-heading-family: "Inter Variable", system-ui, sans-serif;
  --typography-heading-feature-settings: "liga" 1, "calt" 1, "cv05" 1, "kern" 1;
  --typography-heading-tracking: -0.018em;
  --typography-heading-weight: 350;
  --typography-display-family: "Inter Display", system-ui, sans-serif;
  --typography-display-feature-settings: "liga" 1, "calt" 1, "salt" 1, "kern" 1;
  --typography-display-weight: 325;
  --typography-display-tracking: -0.003em;
  --layout-page-max-content-width: 60rem;
}

.tag {
  padding: 0.25em;
  border-radius: 4px;

  font-size: 80%;
  font-weight: 500;
  color: var(--typography-code-text);
  white-space: nowrap;

  background-color: hsl(from var(--typography-code-background) h s calc(l - 3));
}
